<div class="main_component">
    <mat-card>
        <mat-card-header>
        </mat-card-header>
        <mat-card-content>
            <h1>
                <mat-icon>phone_in_talk</mat-icon> Kapcsolat
            </h1>
            <p>
                <mat-icon>call</mat-icon> Központi telefonszám: +36 30 123 3456
            </p>
            <p>
                <mat-icon>email</mat-icon> Email-cím: <a
                    href="mailto: kapcsolat@titkokkonyhaja.com">kapcsolat@titkokkonyhaja.com </a>
            </p>
            <br />
            <h1>
                <mat-icon>house</mat-icon> Központ
            </h1>
            <p>
                Irányítószám: 5624
            </p>
            <p>
                Város: Békéscsaba
            </p>
            <p>
                Utca, házszám: Zöldrét utca 9-12.
            </p>
            <h1>
                <mat-icon>calendar_month</mat-icon> Nyitvatartás
            </h1>
            <p>
                Hétköznap: 08:00 - 18:00
            </p>
            <p>
                Hétvége: 10:00 - 16:00
            </p>
            <h1>
                <mat-icon>work</mat-icon> Üzleti megkereséshez
            </h1>
            <p>
                <mat-icon>email</mat-icon> Email-cím: <a
                    href="mailto: business@titkokkonyhaja.com">business@titkokkonyhaja.com </a>
            </p>
        </mat-card-content>

    </mat-card>
</div>