div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 40%;
}

.main_component {
    height: 30vh;
}

.main_component {
    height: 100vh;
}